<?xml version='1.0' encoding='utf-8'?>
<widget id="info.jasonprojects.wildanimalsblackonwhitebabybook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wild Animals Black on White Baby Book</name>
    <description>
        A high contrast white on black baby book to get your baby's eyes and brain jumpstarted!

        Unlike your adult eyes which can distinguish millions of differenct shades of light and color, 
        your baby's eyes can only detect large contrasts between light and dark, or black and white.

        Newborns can see from birth, just not as clearly as an older child or adult. Until your child is about six months of age, he or she will respond best to bold, contrasting colors and graphics. That’s why it’s important to provide your baby with visuals that feature the visual extremes of black, white and red. These high-contrast colors will captivate and hold baby’s attention, encouraging visual development as well as physical activity – like wiggling, kicking, and arm waving.
    </description>
    <author email="protherj@gmail.com" href="http://www.proworks.com">
        Jason Prothero
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon-120.png" width="120" />
    <icon gap:platform="ios" height="152" src="res/icon/ios/icon-152.png" width="152" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/icon-76.png" width="76" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    <gap:splash src="splash.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="ios" height="480" width="320" src="res/screen/ios/screen-iphone-portrait.png" />
    <gap:splash gap:platform="ios" height="960" width="640" src="res/screen/ios/screen-iphone-portrait-2x.png" />
    <gap:splash gap:platform="ios" height="640" width="960" src="res/screen/ios/screen-iphone-landscape-2x.png" />
    <gap:splash gap:platform="ios" height="1024" width="768" src="res/screen/ios/screen-ipad-portrait.png" />
    <gap:splash gap:platform="ios" height="768" width="1024" src="res/screen/ios/screen-ipad-landscape.png" />
    <gap:splash gap:platform="ios" height="748" width="1024" src="res/screen/ios/screen-ipad-landscape.png" />
    <gap:splash gap:platform="ios" height="1004" width="768" src="res/screen/ios/screen-ipad-portrait.png" />
    <gap:splash gap:platform="ios" height="1136" width="640" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />
    <gap:splash gap:platform="ios" height="640" width="1136" src="res/screen/ios/screen-iphone-landscape-568h-2x.png" />
    <gap:splash gap:platform="ios" height="1496" width="2048" src="res/screen/ios/screen-ipad-landscape-2x.png" />
    <gap:splash gap:platform="ios" height="2008" width="1536" src="res/screen/ios/screen-ipad-portrait-2x.png" />
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
    <access origin="*" />
    <content src="main.html" />
</widget>
